@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:0;
  padding:0;
}


body{
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family:'poppins';
  font-weight: 300;
  background: black;
  overflow-y: auto;
}
.everything .heading{
  font-size: 2rem;
  font-weight: 600;
  margin-left:0.5rem;
  color:white;
}
.everything .allnotes{
  height:fit-content;
  width:fit-content;
  display:flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  margin-top: 1rem;
  position:relative;
  gap:2rem;
  margin-left:1rem;
}
.allnotes .single-note{
  height:16rem;
  width:14rem;
  background: cyan;
  display:flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  margin-top: 1rem;
  position:relative;
  gap:1rem;
}
.single-note .single-note-title{
  height:4rem;
  width:90%;
  display:flex;
  align-items: end;
  font-weight: 500;
  position:absolute;
  top:0;
  left:0;
  border-bottom: 0.1rem solid red;
  margin-left:0.5rem;
}

.single-note .single-note-desc{
  position:absolute;
  top:4rem;
  left:0;
  height:12rem;
  font-size: small;
  font-weight: 400;
  padding:0rem 0.3rem;
}

.single-note .edit-buttons{
  height: fit-content;
  width:fit-content;
  display:flex;
  gap:2rem;
  position:absolute;
  top:0rem;
  right:0.5rem;
}

.single-note .edit-button{
 height:1.2rem;
 width:1.2rem;
 background: red;
 position:absolute;
 top:0.5rem;
 right:0.5rem;
 cursor:pointer;
}

.edit-button img{
  height:100%;
  width:100%;
  background:cyan;
  outline:none;
}

.single-note .delete-button{
 height:1.2rem;
 width:1.2rem;
 background: red;
 position:absolute;
 top:0.5rem;
 right:2.5rem;
 cursor:pointer;
}

.delete-button img{
  height:100%;
  width:100%;
  background:cyan;
  outline:none;
}

.single-note #add-note-desc{
  width:90%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
#add-note-desc #add-note-msg{
  font-weight: 600;
}


/* Add note section css*/

.Add-note-section{
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  z-index:50;
  background:rgba(62, 55, 55, 0.19);
  backdrop-filter: blur(5px);
}

.Add-note-section .add-note{
  height:20rem;
  width:16rem;
  background:orchid;
  position:absolute;
  top:1rem;
  right:1rem;
  z-index:100;
  border-radius:1rem;
  display: flex;
  flex-direction: column;
  gap:0.8rem;
  
}
.add-note .add-note-heading{
  height:2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1rem solid cyan;
  margin:0 0.4rem;
}
.add-note input{
  height:2rem;
  outline:none;
  border:none;
  border-radius: 0.2rem;
  margin:0 0.4rem;
  transition: all 0.3s linear;
}

.add-note input:hover{
  background:yellowgreen;
}
.add-note input:focus{
  background: cyan;
}

.add-note textarea{
  font-size:large;
  height:10rem;
  border-radius: 0.5rem;
  border:none;
  outline:none;
  margin:0 0.4rem;
  padding:0.3rem 0.5rem;
  transition: all 0.3s linear;
}

.add-note textarea:hover{
 background: greenyellow;
}

.add-note textarea:focus{
  background: cyan;
}


.add-note .add-note-button{
  height:2rem;
  border-radius: 0.5rem;
  margin:0 0.5rem;
}
.add-note-button button{
  font-size: medium;
  font-weight: 600;
  height:100%;
  width:100%;
  border-radius: 0.5rem;
  background:slateblue;
  border:0.1rem solid black;
  transition: all 0.3s linear;
  cursor:pointer;

}

.add-note-button button:hover{
  background: greenyellow;
}
.add-note-button button:active{
   background:cyan;
}


.Add-note-section .cut{
  position:absolute;
  top:1rem;
  left:1rem;
  height:2rem;
  width:2rem;
  background: gray;
  padding:0.5em;
  border-radius: 0.5em;
  cursor:pointer;
  transition:all 0.5s linear;
  cursor: pointer;
}
.cut svg{
  height:100%;
  width:100%;
}
.cut:hover{
  background: aliceblue;
}

/* edit note-section*/

.edit-note-section{
   position:absolute;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  z-index:50;
  background:rgba(62, 55, 55, 0.19);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;

}

.edit-note-section .edit-note{
  height:35rem;
  width:25rem;
  background:orchid;
  /* position:absolute;
  top:1rem;
  right:1rem; */
  z-index:100;
  border-radius:1rem;
  display: flex;
  flex-direction: column;
  gap:0.8rem;
  
}

.edit-note .edit-note-heading{
  height:2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1rem solid cyan;
  margin:0 0.4rem;
}
.edit-note input{
  height:2rem;
  outline:none;
  border:none;
  border-radius: 0.2rem;
  margin:0 0.4rem;
  font-weight: 600;
  padding:0 0.3rem;
  transition: all 0.3s linear;
}

.edit-note input:hover{
  background:yellowgreen;
}
.edit-note input:focus{
  background: cyan;
}

.edit-note textarea{
  font-size:large;
  height:10rem;
  border-radius: 0.5rem;
  border:none;
  outline:none;
  margin:0 0.4rem;
  padding:0.3rem 0.5rem;
  transition: all 0.3s linear;
}

.edit-note textarea:hover{
 background: greenyellow;
}

.edit-note textarea:focus{
  background: cyan;
}


.edit-note .edit-note-button{
  height:2rem;
  border-radius: 0.5rem;
  margin:0 0.5rem;
}
.edit-note-button button{
  font-size: medium;
  font-weight: 600;
  height:100%;
  width:100%;
  border-radius: 0.5rem;
  background:slateblue;
  border:0.1rem solid black;
  transition: all 0.3s linear;
  cursor:pointer;
}

.edit-note-button button:hover{
  background: greenyellow;
}
.edit-note-button button:active{
   background:cyan;
}


.edit-note-section .cut{
  position:absolute;
  top:1rem;
  left:1rem;
  height:2rem;
  width:2rem;
  background: gray;
  padding:0.5em;
  border-radius: 0.5em;
  cursor:pointer;
  transition:all 0.5s linear;
  cursor: pointer;
}
.cut svg{
  height:100%;
  width:100%;
}
.cut:hover{
  background: aliceblue;
}